<%- include('../partials/header') %>
  <h2><%= skill.name %></h2>
  <h3>Type: <%= skill.type %></h3>
  <h4>Learned: <%- skill.learned ? 'Yes' : 'No' %></h4>
  <a href="/skills/<%= skill.id %>/edit">Edit Skill</a>
  <form action="/skills/<%= skill.id %>?_method=DELETE" method="POST">
    <button type="submit">Delete Skill</button>
  </form>
<%- include('../partials/footer') %>